<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
   
    <section class="main-content">

      {{ content }}
      
      <section>
        <a hrel="# style='float:right； text-align: right;'" onClick="javascript :history.back(-1);">返回</a>
        <a hrel="# style='float:left； text-align: left;'" onClick="javascript :history.go(-1);">继续</a>
      </section>
      {% include page-footer.html %}

    </section>

  </body>
</html>
